{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Resources by Region</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<script>
function updateTable(selectedKey) {
    var dictionary = {{ resources_by_region|safe }};

    var tableBody = document.getElementById("table-body");
    tableBody.innerHTML = "";  // Clear the table body

    if (selectedKey) {
        var selectedValues = dictionary[selectedKey];

        for (var i = 0; i < selectedValues.length; i++) {
            var row = tableBody.insertRow();
            var serviceCell = row.insertCell(0);
            var nameCell = row.insertCell(1);

            serviceCell.innerHTML = selectedValues[i].service;
            nameCell.innerHTML = selectedValues[i].name;
        }
    }
}
</script>

</head>
<body>
<div class="container">
    <h3 class="neumorphic-h3">AWS Management - List Resources by Region</h1>
    <div class="neumorphic-container">
        <label for="key-dropdown">Select a region:</label>
        <select id="key-dropdown" onchange="updateTable(this.value)">
            <option value="" selected disabled>Select a region</option>
            {% for key, values in resources_by_region.items %}
                <option value="{{ key }}">{{ key }}</option>
            {% endfor %}
        </select>
        <table class="neumorphic-table">
            <thead>
                <tr>
                    <th>Service</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody id="table-body">
                <!-- Table content will be dynamically updated here -->
            </tbody>
        </table>
    </div>
    <a href="{% url 'options' %}" class="action-button">Back to Options</a>
</div>
</body>
</html>
